html,
body {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  height: 10vh;
  background: royalblue;
  text-align: center;
}

.modal {
  display: none;
}

.container {
  /* display: none; */
  margin: 3% 10%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8vh;
}

.gameBox {
  background-color: salmon;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    margin: 5% 10%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 35vh);
  }

  .gameBox:last-child {
  }
}
