.container {
  display: flex;
  flex-direction: column;
}

.info-box {
  display: flex;
  margin: 0 auto;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  margin: 0 auto;
}

.board-row {
  display: flex;
}

.board-box {
  border: 2px solid #372c25;
  border-radius: 5px;
  height: 70px;
  width: 70px;
  color: #684a23;
  background-color: #fbeddc;
}
