* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  overflow: hidden;
}
ul {
  list-style: none;
  padding: 0px;
}
li {
  list-style: none;
}

@media (min-width: 992px) {
  .wrapper {
    width: 50%;
    margin: 0 auto;
  }
}
/* 태블릿 */
@media (max-width: 991px) {
  .wrapper {
    width: 70%;
    margin: 0 auto;
  }
}
/* 최대 575 : 모바일 */
@media (max-width: 575px) {
  .wrapper {
    width: 100%;
  }
}

.score {
  text-align: center;
  margin: 1rem;
  font-size: 25px;
  background-color: antiquewhite;
}
.gamezone {
  display: flex;
}
.playboard {
  margin: 0 auto;
}
.miniboard {
  margin: 0 auto;
}
.playboard > ul,
.miniboard > ul {
  border: 1px solid black;
  box-sizing: border-box;
  width: 250px;
  margin: 0 auto; /*테트리스보드 중앙정렬 */
}
.miniboard > ul {
  width: 125px;
}
.playboard > ul > li,
.miniboard > ul > li {
  width: 100%;
  height: 25px;
}
.playboard > ul > li > ul,
.miniboard > ul > li > ul {
  display: flex;
}
.playboard > ul > li > ul > li,
.miniboard > ul > li > ul > li {
  /* 각 한칸 */
  width: 25px;
  height: 25px;
  border: 0.5px solid rgb(92, 92, 92);
  box-sizing: border-box;
}

/* 디자인시스템 */
.textCenter {
  text-align: center;
}

.gameover {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: white;
  font-size: 2rem;
}
.gameover > button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: salmon;
  border: none;
  cursor: pointer;
}

/* 블럭 색칠 */
.tree {
  background-color: darkgreen;
}
.square {
  background-color: dodgerblue;
}
.bar {
  background-color: wheat;
}
.zee {
  background-color: sienna;
}
.elLeft {
  background-color: lightpink;
}
.elRight {
  background-color: slateblue;
}
