* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  overflow: hidden;
  background: #161b32;
}
ul {
  list-style: none;
  padding: 0px;
}
li {
  list-style: none;
}

@media (min-width: 992px) {
  .wrapper {
    width: 50%;
    margin: 0 auto;
  }
}
/* 태블릿 */
@media (max-width: 991px) {
  .wrapper {
    width: 70%;
    margin: 0 auto;
  }
}
/* 최대 575 : 모바일 */
@media (max-width: 575px) {
  .wrapper {
    width: 100%;
  }
}
.scoreboard {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
.score,
.high {
  width: 48%;
  text-align: center;
  margin: 1rem;
  font-size: 25px;
  background: linear-gradient(to bottom, #53e1e3, #fdfffb, #e66fb2);
}
.gamezone {
  display: flex;
}
.playboard {
  margin: 0 auto;
}
.sideboard {
  margin: 0 auto;
}
.playboard > ul,
.miniboard > ul {
  border: 1px solid #49534f;
  box-sizing: border-box;
  width: 250px;
  margin: 0 auto; /*테트리스보드 중앙정렬 */
}
.miniboard > ul {
  width: 125px;
}
.playboard > ul > li,
.miniboard > ul > li {
  width: 100%;
  height: 25px;
}
.playboard > ul > li > ul,
.miniboard > ul > li > ul {
  display: flex;
}
.playboard > ul > li > ul > li,
.miniboard > ul > li > ul > li {
  /* 각 한칸 */
  width: 25px;
  height: 25px;
  border: 0.5px dashed #49534f;
  box-sizing: border-box;
}

/* 디자인시스템 */
.textCenter {
  text-align: center;
}

.gameover {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: white;
  font-size: 2rem;
}
.gameover > button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: salmon;
  border: none;
  cursor: pointer;
}

/* 블럭 색칠 */
.tree {
  background-color: #5aae5a;
  box-shadow: inset -1px -2px 2px 1px #3a7f3a;

  border: 0.5px solid #49534f !important;
}
.square {
  background-color: #7cb7fd;
  box-shadow: inset -1px -2px 2px 1px #567fb0;

  border: 0.5px solid #49534f !important;
}
.bar {
  background-color: #f2d982;
  box-shadow: inset -1px -2px 2px 1px #ae9c5d;

  border: 0.5px solid #49534f !important;
}
.zee {
  background-color: #c29384;
  box-shadow: inset -1px -2px 2px 1px #8f6d62;

  border: 0.5px solid #49534f !important;
}
.elLeft {
  background-color: lightpink;
  border: 0.5px solid #49534f !important;
  box-shadow: inset -1px -2px 2px 1px #9c616a;
}
.elRight {
  background-color: #ae93e8;
  box-shadow: inset -1px -2px 2px 1px #7a65a5;

  border: 0.5px solid #49534f !important;
}

/* color System */
/*
161B32 남
2B3843 진회색
49534f 테두리
53E1E3 하늘색
E66FB2 핑크
F4D4E8 연핑크
FCC725 노랑
FDFFFB 하양
*/

.userlist {
  margin-top: 1rem;
  border: 1px solid yellow;
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: 125px;
  max-height: 300px;
}
